#c {
  display: none;
}

/* display del html */
#intro {
  display: block;
}

#register {
  display: block;
}

#takePhoto {
  display: block;
}

#virtualCredential {
  display: block;
}

#dashboardAdmin {
  display: block;
}

body {
  text-align: center;
}